.cardsContainer {
  display: flex;
  padding: 20px;
}
.card {
  display: flex;
  flex-direction: column;
  border: 1px solid #eee;
  border-radius: 8px;
  padding: 16px;
  margin: 8px;
  height: 92px;
  background-color: #e0f7fa;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.2s, transform 0.2s;
  &:hover {
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.18);
    transform: translateY(-4px) scale(1.03);
    background-color: #f1fffe;
  }
  &__title {
    font-size: 30px;
    text-align: center;
    font-weight: 600;
    color: #4fc3f7;
    margin-bottom: 20px;
    text-shadow: 0 2px 8px rgba(0, 0, 0, 0.4);
  }
  &__section {
    margin-top: 30px;
  }
  &__titleCard {
    font-weight: 600;

    margin-bottom: 8px;
  }
}
