.entreprise {
  margin-top: 3rem;

  &__subtitle {
    text-align: center;
    color: #b0bfc7;
    font-size: 1.5rem;
    margin: 2rem;
    font-weight: 700;
    font-style: italic;
    box-shadow: 0 4px 16px 0 #a8edea;
    border-radius: 8px;
    padding: 0.5rem 1rem;
    display: inline-block;
    background: #fff;

    @media (max-width: 768px) {
      font-size: 1.2rem;
      margin: 1rem;
      padding: 0.5rem 0.75rem;
    }

    @media (max-width: 480px) {
      font-size: 1rem;
      margin: 2rem 0.5rem 0.5rem 0.5rem;
      padding: 0.5rem;
    }
  }
}
